target/
.idea/
.mvn/
mvnw
mvnw.cmd
*.iml
learn-pom.xml
trash/processing-build-cfg/processing.jar
trash/centos8-oracle-jre8/jre-8u271-linux-x64.rpm
trash/minikube-processing/processing.jar
ssl-test/*.pem
oc/
.history/
.vscode/
.project
.settings/
.classpath
.factorypath
legal-party.sql
/assembly/src/test/resources/application.properties
*.png
