[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = subject
# attributes             = req_attributes
prompt                 = no
req_extensions         = req_ext
x509_extensions        = x509_ext

[ subject ]
CN                     = minikube 

# [ req_attributes ]
# challengePassword      = password

[ req_ext ]
subjectAltName         = @alternate_names

[ x509_ext ]
# subjectKeyIdentifier   = hash
# authorityKeyIdentifier = keyid,issuer
# basicConstraints       = CA:TRUE
# keyUsage               = digitalSignature, keyEncipherment
# extendedKeyUsage       = serverAuth
subjectAltName         = @alternate_names

[ alternate_names ]
DNS.1                  = minikube
DNS.2                  = localhost
IP.1                   = 172.30.145.158
IP.2                   = 127.0.0.1